html,
body {
  height: 100%;
  background: #141414;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #141414;
}

.h3,
h3 {
  font-size: 1.56rem
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color:white;
}

p {
  font-size: 13px
}

.link {
  color:white;
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
  color:darkgray;
}
.text-gray {
  color:#8a8a8a;
}

.display-3 {
  font-size: 2.5rem
}

 /* CSS: Card Weather style */
.card-weather {
  background: #141414;
  background-image: linear-gradient(to left bottom, #292929, #292929, #292929, #292929, #292929);
  box-shadow: 0 15px 15px 2px rgba(0,0,0,.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-weather .weather-date-location {
  padding: 0 0 38px;
}
.card-weather .card-body {
  flex: 1 1 auto;
  background-size: cover;
}
.card-weather .weakly-weather {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: #141414;
  overflow-x: auto;
}
.card-weather .weakly-weather .weakly-weather-item {
  flex: 1;
  border-right: 1px solid #615e5e;
  padding: 1rem;
  color:white;
  text-align: center
}
.card-weather .weakly-weather .weakly-weather-item:last-child {
  border-right: none;
}
.card-weather .weakly-weather .weakly-weather-item i {
  font-size: 1.2rem
}

 /* CSS: Card Weather style */
/* backgrounds assets */
.nublado {
  background-image: url('./assets/nublado.png');
}
.tormenta {
  background-image: url('./assets/lluvia.png');
}
.soleado {
  background-image: url('./assets/soleado.png');
}
.lluvia{
  background-image: url('./assets/lluvia.png');
}
.llovizna {
  background-image: url('./assets/llovizna.png');
}
.frio {
  background-image: url('./assets/despejado.png');
}
.despejado {
  background-image: url('./assets/despejado.png');
}
.calor {
  background-image: url('./assets/soleado.png');
}
/* backgrounds assets */
/* body assets */
.body-soleado {
  background: linear-gradient(0deg, rgba(241,169,70,1) 0%, rgba(245,242,65,0) 100%);
}
.body-nublado {
  background: linear-gradient(0deg, rgba(175,167,157,1) 0%, rgba(128,128,128,0) 100%);
}
.body-llovizna {
  background: linear-gradient(0deg, rgba(84,158,191,1) 0%, rgba(128,128,128,0) 100%);
}
.body-lluva {
  background: linear-gradient(0deg, rgba(103,137,150,1) 0%, rgba(128,128,128,0) 100%);
}
.body-tormenta {  
  background: linear-gradient(0deg, rgba(53,74,83,1) 0%, rgba(128,128,128,0) 100%);
}
.body-nieve {
  background: linear-gradient(0deg, rgba(173,206,219,1) 0%, rgba(128,128,128,0) 100%);
}
.body-despejado {
  background: linear-gradient(0deg, rgba(219,208,173,1) 0%, rgba(128,128,128,0) 100%);
}
/* body assets */
.map-img {
  width:25px;
  height: 25px;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgb(218, 156, 106);
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(121, 57, 57);
}
@media all and (max-width:875px){
  .card-weather .weakly-weather .weakly-weather-item {
    flex:1;
    flex-direction: column;
    padding:3px;
  }
  .card-weather .weather-data{
    padding: 0;
  }
  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #141414;
  }
  .stretch-card>.card {
  
    width: 100%;
    max-width: 165px;
    padding: 5px;
    margin: 0 auto;
  }
}
